<!doctype html>
<html lang="en">

<head>


</head>

<body>


  <!-- Blogs section -->
  <section class="py-5 my-5 blog_section">

    
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="blog_section_crd" style="width: 429.6px;margin-right: 30px;" >
              <div class="blog_section_crd_img">
                <img src="assets/images/col_img_1.png" class="img-fluid">
              </div>
              <div class="blog_section_crd_content p-3">
                <div class="d-inline-block text-center w-100 text-gray py-2">
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" src="assets/images/date_icon.svg">
                    </span>
                    <span class="font-18">
                      July 20, 21
                    </span>
                  </div>
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/comment_icon.svg">
                    </span>
                    <span class="font-18">
                      0 Comments
                    </span>
                  </div>
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/blog_user_icon.svg">
                    </span>
                    <span class="font-18">
                      Ram M
                    </span>
                  </div>
    
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                      Luxury Designer cloths for Kids
                    </h5>
                  </div>
                  <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                    Read More
                    <span class="material-icons">navigate_next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="blog_section_crd" style="width: 429.6px;margin-right: 30px;" >
              <div class="blog_section_crd_img">
                <img src="assets/images/col_img_1.png" class="img-fluid">
              </div>
              <div class="blog_section_crd_content p-3">
                <div class="d-inline-block text-center w-100 text-gray py-2">
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/date_icon.svg">
                    </span>
                    <span class="font-18">
                      July 20, 21
                    </span>
                  </div>
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/comment_icon.svg">
                    </span>
                    <span class="font-18">
                      0 Comments
                    </span>
                  </div>
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/blog_user_icon.svg">
                    </span>
                    <span class="font-18">
                      Ram M
                    </span>
                  </div>
    
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                      Luxury Designer cloths for Kids
                    </h5>
                  </div>
                  <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                    Read More
                    <span class="material-icons">navigate_next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </ng-template>  
    <ng-template carouselSlide>
      <div class="container-fluid">
        <div class="row mx-0 " >
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="blog_section_crd "style="width: 429.6px;margin-right: 30px;" >
              <div class="blog_section_crd_img">
                <img src="assets/images/col_img_1.png" class="img-fluid">
              </div>
              <div class="blog_section_crd_content p-3">
                <div class="d-inline-block text-center w-100 text-gray py-2">
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" src="assets/images/date_icon.svg">
                    </span>
                    <span class="font-18">
                      July 20, 21
                    </span>
                  </div>
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/comment_icon.svg">
                    </span>
                    <span class="font-18">
                      0 Comments
                    </span>
                  </div>
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/blog_user_icon.svg">
                    </span>
                    <span class="font-18">
                      Ram M
                    </span>
                  </div>
    
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                      Luxury Designer cloths for Kids
                    </h5>
                  </div>
                  <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                    Read More
                    <span class="material-icons">navigate_next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       
    </ng-template>  
    <ng-template carouselSlide>
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="blog_section_crd" style="width: 429.6px;margin-right: 30px;" >
              <div class="blog_section_crd_img">
                <img src="assets/images/col_img_1.png" class="img-fluid">
              </div>
              <div class="blog_section_crd_content p-3">
                <div class="d-inline-block text-center w-100 text-gray py-2">
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/date_icon.svg">
                    </span>
                    <span class="font-18">
                      July 20, 21
                    </span>
                  </div>
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/comment_icon.svg">
                    </span>
                    <span class="font-18">
                      0 Comments
                    </span>
                  </div>
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/blog_user_icon.svg">
                    </span>
                    <span class="font-18">
                      Ram M
                    </span>
                  </div>
    
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                      Luxury Designer cloths for Kids
                    </h5>
                  </div>
                  <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                    Read More
                    <span class="material-icons">navigate_next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="blog_section_crd" style="width: 429.6px;margin-right: 30px;" >
              <div class="blog_section_crd_img">
                <img src="assets/images/col_img_1.png" class="img-fluid">
              </div>
              <div class="blog_section_crd_content p-3">
                <div class="d-inline-block text-center w-100 text-gray py-2">
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/date_icon.svg">
                    </span>
                    <span class="font-18">
                      July 20, 21
                    </span>
                  </div>
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/comment_icon.svg">
                    </span>
                    <span class="font-18">
                      0 Comments
                    </span>
                  </div>
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/blog_user_icon.svg">
                    </span>
                    <span class="font-18">
                      Ram M
                    </span>
                  </div>
    
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                      Luxury Designer cloths for Kids
                    </h5>
                  </div>
                  <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                    Read More
                    <span class="material-icons">navigate_next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="blog_section_crd" style="width: 429.6px;margin-right: 30px;" >
              <div class="blog_section_crd_img">
                <img src="assets/images/col_img_1.png" class="img-fluid">
              </div>
              <div class="blog_section_crd_content p-3">
                <div class="d-inline-block text-center w-100 text-gray py-2">
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/date_icon.svg">
                    </span>
                    <span class="font-18">
                      July 20, 21
                    </span>
                  </div>
                  <div class="d-inline-block w-50 float-left px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/comment_icon.svg">
                    </span>
                    <span class="font-18">
                      0 Comments
                    </span>
                  </div>
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <span>
                      <img class="img-fluid" width="20" height="20" src="assets/images/blog_user_icon.svg">
                    </span>
                    <span class="font-18">
                      Ram M
                    </span>
                  </div>
    
                  <div class="d-inline-block w-100 float-unset mt-2 px-2">
                    <h5 class="font-600 text-dark mt-2 blog_section_crd_content_title">
                      Luxury Designer cloths for Kids
                    </h5>
                  </div>
                  <a href="javaScript:(0)" class="text-gray font-20 rd_mr_btn_blog">
                    Read More
                    <span class="material-icons">navigate_next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>  
  </owl-carousel-o> 

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
    
        <img width="20" height="20" src="assets/images/date_icon.svg">
      
      <span class="font-18">
        July 20, 21
      </span>
    </ng-template>  
    <ng-template carouselSlide>
        <img width="20" height="20" src="assets/images/date_icon.svg">
      <span class="font-18">
        July 20, 21
      </span>
    </ng-template>  
    <ng-template carouselSlide>

        <img width="20" height="20" src="assets/images/date_icon.svg">
      <span class="font-18">
        July 20, 21
      </span>
    </ng-template>  
  </owl-carousel-o> 
</section> 

</body>


</html>