<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
 </head>

<body>
  <mat-accordion>
    <mat-expansion-panel hideToggle #main (mouseover)="main.open()" (mouseleave)="main.close()">
      <mat-expansion-panel-header >
        <a href="#" class="nav-link--megamenu">
          Women's Collection
          <span class="material-icons nav_links_btm_arrow">expand_more</span>
        </a>
      </mat-expansion-panel-header>
      <ul class="nav-link--megamenu-sub-lg">
        <div class="row mx-0">
          <div class="col-lg-7 px-2">
            <div class="row mx-0">
              <div class="col-lg-4 px-2 mb-3">
                <li>
                  <a href="prouct_list.html"
                    class="nav-link--megamenu font-600 font-16 text-uppercase btn-theme-border">
                    WESTERN WEAR
                  </a>
                  <mat-panel-title>
                    <ul>
                      <li><a href="#" class="nav-link--megamenu">Jeans</a></li>
                      <li><a href="#" class="nav-link--megamenu">Tops</a></li>
                      <li><a href="#" class="nav-link--megamenu">Gown</a></li>
                      <li><a href="#" class="nav-link--megamenu">Maxi</a></li>
                    </ul>
                  </mat-panel-title>
                </li>
              </div>

              <div class="col-lg-4 px-2 mb-3">
                <li>
                  <a href="#" class="nav-link--megamenu font-600 font-16 text-uppercase btn-theme-border">
                    SEASONAL WEAR
                  </a>
                  <mat-panel-title>
                    <ul>
                      <li><a href="#" class="nav-link--megamenu">Long Gown</a></li>
                      <li><a href="#" class="nav-link--megamenu">Cotton Skirts</a></li>
                      <li><a href="#" class="nav-link--megamenu">Woolen Tops</a></li>
                      <li><a href="#" class="nav-link--megamenu">Woolen Maxi</a></li>
                    </ul>
                  </mat-panel-title>
                </li>
              </div>

              <div class="col-lg-4 px-2 mb-3">
                <li>
                  <a href="#" class="nav-link--megamenu font-600 font-16 text-uppercase btn-theme-border">
                    NEW ARRIVAL
                  </a>
                  <mat-panel-title>
                    <ul>
                      <li><a href="#" class="nav-link--megamenu">Perfect Fit Top</a></li>
                      <li><a href="#" class="nav-link--megamenu">Leggings</a></li>
                      <li><a href="#" class="nav-link--megamenu">Shorts</a></li>
                      <li><a href="#" class="nav-link--megamenu">Pyjama</a></li>
                    </ul>
                  </mat-panel-title>
                </li>
              </div>

              <div class="col-lg-4 px-2 mb-3">
                <li>
                  <a href="#" class="nav-link--megamenu font-600 font-16 text-uppercase btn-theme-border">
                    BOTIQUE
                  </a>
                  <mat-panel-title>
                    <ul>
                      <li><a href="#" class="nav-link--megamenu">Jeans</a></li>
                      <li><a href="#" class="nav-link--megamenu">Tops</a></li>
                      <li><a href="#" class="nav-link--megamenu">Gown</a></li>
                      <li><a href="#" class="nav-link--megamenu">Maxi</a></li>
                    </ul>
                  </mat-panel-title>
                </li>
              </div>
              <div class="col-lg-4 px-2 mb-3">
                <li>
                  <a href="#" class="nav-link--megamenu font-600 font-16 text-uppercase btn-theme-border">
                    ETHNIC WEAR
                  </a>
                  <mat-panel-title>
                    <ul>
                      <li><a href="#" class="nav-link--megamenu">Long Gown</a></li>
                      <li><a href="#" class="nav-link--megamenu">Cotton Skirts</a></li>
                      <li><a href="#" class="nav-link--megamenu">Woolen Tops</a></li>
                      <li><a href="#" class="nav-link--megamenu">Woolen Maxi</a></li>
                    </ul>
                  </mat-panel-title>
                </li>
              </div>

              <div class="col-lg-4 px-2 mb-3">
                <li>
                  <a href="#" class="nav-link--megamenu font-600 font-16 text-uppercase btn-theme-border">
                    PARTY COLLECTION
                  </a>
                  <mat-panel-title>
                    <ul>
                      <li><a href="#" class="nav-link--megamenu">Perfect Fit Top</a></li>
                      <li><a href="#" class="nav-link--megamenu">Leggings</a></li>
                      <li><a href="#" class="nav-link--megamenu">Shorts</a></li>
                      <li><a href="#" class="nav-link--megamenu">Pyjama</a></li>
                    </ul>
                  </mat-panel-title>
                </li>
              </div>
            </div>
               
            <div class="row mx-0">
              <div class="col-lg-6 px-2">
                <div class="nav_offer_banner01">
                  <img src="/assets/images/nav_col_img1.png">
                </div>
                <div class="nav_offer_banner01">
                  <img src="/assets/images/nav_col_img2.png">
                </div>
              </div>
              <div class="col-lg-6 px-2">
                <div class="nav_offer_banner02">
                  <img src="/assets/images/nav_col_img3.png">
                </div>
              </div>
            </div>
        </div>
      </div>
    </ul>

    </mat-expansion-panel>
  </mat-accordion>
</body>

</html>