<!doctype html>
<html lang="en">
  <head>


  </head>
<body>



<!-- Banner offer Section -->

<section class="p-0">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img style="height: 678px; width: 100%;"src="assets/images/bg_img4.png">
    </ng-template>  
    <ng-template carouselSlide>
      <img style="height: 678px; width: 100%;"src="assets/images/bg_img4.png">
    </ng-template>  
    <ng-template carouselSlide>
      <img style="height: 678px; width: 100%;"src="assets/images/bg_img4.png">
    </ng-template>  
  </owl-carousel-o>
  
</section>




</body>


</html>