<!doctype html>
<html lang="en">
  <head>
   
  </head>
<body>


<header>
 
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img style="height: 678px; width: 100%;"src="assets/images/bg_img3.png">
    </ng-template>  
    <ng-template carouselSlide>
      <img style="height: 678px; width: 100%;"src="assets/images/bg_img3.png">
    </ng-template>  
    <ng-template carouselSlide>
      <img style="height: 678px; width: 100%;"src="assets/images/bg_img3.png">
    </ng-template>  
  </owl-carousel-o>
</header>





</body>


</html>