<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- logo -->
    <!-- <link rel="icon" type="image/png" href="assets/images/fav_icon.png"/>

    <title>Yaari</title> -->

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ///// Owl Slider Css ///// -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>
<body>
  <div class="profile_sec_partiton_002_al_wt_brdcrmb">
    <div class="jumbotron jumbotron-fluid breadcrumb_jumbo_custom">
      <div class="container text-center">
        <h1 class="text-dark font-500 mb-0">
          Change Password
        </h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb mb-0 bg-transparent">
            <li class="breadcrumb-item">
              <a href="#" class="text-gray font-400 text-font-18">Account</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#" class="text-gray font-400 text-font-18">My Profile</a>
            </li>
            <li class="breadcrumb-item active text-gray font-400 text-font-18" aria-current="page">
              Change Password
            </li>
          </ol>
        </nav>
      </div>
    </div>

  <!-- Breadcrumb End -->

  <!-- Change Password section -->

    <div class="profile_sec py-5 w-75 mx-auto">
      <div class="profile_sec_partiton d-inline-block w-100 h-100">
        <div class="profile_sec_prt_2tb">
          <div class="row mx-0 px-5">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
              <form class="custom_form" [formGroup]="myReactiveForm">
                <div class="form-row">
                  <div class="form-group col-md-12 px-3 mb-4">
                    <input type="password" id="changepass" class="form-control" placeholder="Old Password" fromControlName="curpass">
                  </div>
                  <div class="form-group col-md-12 px-3 mb-4">
                    <input type="password" class="form-control" placeholder="New Password" fromControlName="newpass">
                  </div>
                  <div class="form-group col-md-12 px-3 mb-4">
                    <input type="password" class="form-control" placeholder="Confirm New Password" fromControlName="curpass">
                  </div>
                  <div class="form-group col-md-12 text-center px-3 mb-4">
                    <button type="submit" class="w-100 btn btn-theme font-18 py-4 px-5 mt-2" (click)='changepass(myReactiveForm.value)'>Change Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


<!-- Change Password section End -->
<!-- Blank -->
<div class="w-100 d-flex py-4" style="background: #363636;"></div>
<!-- Blank -->



</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- ////////// Owl Slider JS ////// -->
<script src="/assets/js/owl.carousel.min.js"></script>

<script>
     
////  Header Banners OWL

$('.owl-carousel-header-banners').owlCarousel({
  loop:true,
  margin:0,
  nav:false,
  responsive:{
    0:{
        items:1
    },
    600:{
        items:1
    },
    1000:{
        items:1
    }
  }
});
    
////  Blog list OWL

$('.owl-carousel-blog-list').owlCarousel({
  loop:true,
  margin:30,
  nav:false,
  responsive:{
    0:{
        items:1
    },
    600:{
        items:2
    },
    1000:{
        items:3
    }
  }
});

// Mega Menu

$(document).ready(function() {
  "use strict";
  $('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
  $('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
  $(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\">&nbsp;</a>");
  $(".menu > ul > li").hover(function(e) {
    if ($(window).width() > 943) {
      $(this).children("ul").stop(true, false).fadeToggle(150);
      e.preventDefault();
    }
  });
  $(".menu > ul > li").click(function() {
    if ($(window).width() <= 943) {
      $(this).children("ul").fadeToggle(150);
    }
  });
  $(".menu-mobile").click(function(e) {
    $(".menu > ul").toggleClass('show-on-mobile');
    e.preventDefault();
  });
});
$(window).resize(function() {
  $(".menu > ul > li").children("ul").hide();
  $(".menu > ul").removeClass('show-on-mobile');
});

///////////

/// image preview //

function readURL(input) {
if (input.files && input.files[0]) {
  var reader = new FileReader();
  reader.onload = function(e) {
    $('#imagePreview').css('background-image', 'url('+e.target.result +')');
    $('#imagePreview').hide();
    $('#imagePreview').fadeIn(650);
  }
  reader.readAsDataURL(input.files[0]);
}
}
$("#imageUpload").change(function() {
  readURL(this);
});

</script> 

</html>
